target
bin
logs
**/output
**/conf/config.properties
**.idea
**.iml
**.settings
**.vscode
**.project
**.factorypath
**.pydevproject
**.classpath
**.external*
**.DS_Store
**.log
**.springBeans
**.class
**.jar
**.war
**Thumbs.db
**/target
**/bin
**/logs